@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

@font-face {
    font-family: 'AmaranthRegular';
    src: url('fonts/Amaranth/Amaranth-webfont.eot');
    src: url('fonts/Amaranth/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amaranth/Amaranth-webfont.woff') format('woff'),
         url('fonts/Amaranth/Amaranth-webfont.ttf') format('truetype'),
         url('fonts/Amaranth/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaranthBold';
    src: url('fonts/Amaranth/Amaranth-Bold-webfont.eot');
    src: url('fonts/Amaranth/Amaranth-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amaranth/Amaranth-Bold-webfont.woff') format('woff'),
         url('fonts/Amaranth/Amaranth-Bold-webfont.ttf') format('truetype'),
         url('fonts/Amaranth/Amaranth-Bold-webfont.svg#AmaranthBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #303133;
	border-top: 2px solid #666;
	font-family: AmaranthRegular,Tahoma,Geneva,sans-serif;
	font-size: 14px;
	line-height: 28px;
	padding: 56px 28px 56px 28px;
    background: #3dc9d2;
}

a {
    text-decoration: none;
    color: #FFF;
    -webkit-transition: color 450ms;
      -moz-transition:  color 450ms;
       -o-transition:   color 450ms;
          transition:   color 450ms;
}   

a:hover {
    color: grey;
    cursor: pointer;
}   

div#bio, div#social-icons {
	margin: 0 auto;
	position: relative;
}	

div#bio {
    max-width: 962px;
    margin-top: 40px;
	margin-bottom: 60px;
}

div#bio p {
	font-size: 20px;
	line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
    color: #FFF;
    margin-bottom: 24px;
    
}	

div#bio p strong {
   font-family: AmaranthBold;
}

div#social-icons {
    width: 340px; 
    padding-bottom: 56px;
}

div.icon-wrap {
    width: 55px;
    height: 55px;
    margin-left: -20px;
    position: absolute;
    top: 0px;
    -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

div.icon-wrap:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
          transform: scale(1.1);
}

div#linkedin-icon {
    left: 95px;
}

div#github-icon {
    left: 190px;
}

div#email-icon {
    left: 285px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

@media screen and (max-width: 960px) {
    body {
        padding-top: 0px;
    } 
    div.icon-wrap {
        margin-left: 0px;
    }
}